PROXY_HOST=
PROXY_PORT=
PROXY_PROTOCOL=

OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_SCOPE=openid profile email

ENV_0_REPOSITORY_NAME=
ENV_0_DESCRIPTION=
ENV_0_WRITE_TOKEN=
ENV_0_CONTENT_TOKEN=

ENV_1_REPOSITORY_NAME=
ENV_1_DESCRIPTION=
ENV_1_WRITE_TOKEN=
ENV_1_CONTENT_TOKEN=

ENV_2_REPOSITORY_NAME=
ENV_2_DESCRIPTION=
ENV_2_WRITE_TOKEN=
ENV_2_CONTENT_TOKEN=
